@*@model IEnumerable<FoskorSecurityTransport.Models.Trip>*@
@model PagedList.IPagedList<FoskorSecurityTransport.Models.Trip>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                @Html.Label("Date Out")
            </th>
            <th>
                @Html.Label("Date in")
            </th>
            <th>
                @Html.Label("Starting Point")
            </th>
            <th>
                @Html.Label("Passenger")
            </th>
            <th>
                @Html.Label("Company Number")
            </th>
            <th>
                @Html.Label("Destination")
            </th>
 
            <th>
                @Html.Label("Reason")
            </th>
            <th>
                @Html.Label("Driver")
            </th>
            <th>
                @Html.Label("Vehicle")
            </th>
            <th>
                @Html.Label("KMOut")
            </th>
            <th>
                @Html.Label("KMIn")
            </th>
            <th>
                @Html.Label("TotalKMs")
            </th>
            <th>
                @Html.Label("TimeOut")
            </th>
            <th>
                @Html.Label("TimeIn")
            </th>
            <th>
                @Html.Label("Status")
            </th>
            <th>
                @Html.Label("SDateTime")
            </th>
            <th>
                @Html.Label("Capturer")
            </th>
 
            <th>
               @Html.Label("noOfPassengers")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passenger1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyNumber1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination1)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Passenger2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyNumber2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Passenger3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyNumber3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Passenger4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyNumber4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supervisor1)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KMOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KMIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalKMs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capturer)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Supervisor2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supervisor3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supervisor4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department4)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.noOfPassengers)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TripID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TripID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TripID })
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="text-align: center">
    <p>
        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </p>
    <p style="margin-top: -25px">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </p>
</div>
