@model IEnumerable<FoskorSecurityTransport.Models.Vehicle>

@{
    ViewBag.Title = "Vehicle List";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>*@

<table id="vehicleTable">
    <thead>
        <tr>
            <th>RegistrationNo</th>
            <th>Make</th>
            <th>Model</th>
            <th>Status</th>

        </tr>
    </thead>
    </table>

<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

@section sritps{
    <script>"//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.js"</script>
    <script>
        $(document).ready(function () {
            $("#vehicleTable").DataTable({
                "ajax": {
                    "url" : 

                    }


                }



            )
        }


    </script>
    
    
    
    
    
    
    }


@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleID })
        </td>
    </tr>*@
}

</table>
