@model IEnumerable<FoskorSecurityTransport.Models.Vehicle>

@{
    ViewBag.Title = "Vehicle List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <thead>
        <tr>
            <th style="font-weight:bold">
                Registration
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VehicleID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VehicleID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VehicleID })
                </td>
            </tr>
        }
    </tbody>

</table>
