@*@model IEnumerable<FoskorSecurityTransport.Models.Vehicle>*@
@model PagedList.IPagedList<FoskorSecurityTransport.Models.Vehicle>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Vehicle List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <thead>
        <tr>
            <th style="font-weight:bold">
                Registration
            </th>
            <th>
                @Html.Label("Make")               
            </th>
            <th>
             @Html.Label("Model")
            </th>
            <th>
               @Html.Label("Status")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VehicleID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VehicleID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VehicleID })
                </td>
            </tr>
        }
    </tbody>

</table>
<div style="text-align: center">
    <p>
        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </p>
    <p style="margin-top: -25px">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </p>
</div>
